<app-detalle *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></app-detalle>

<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Clientes</h5>
    
<div class="my-3 text-left">
  <button class="btn btn-rounded btn-primary" type="button" routerLink="/clientes/form"> Crear Cliente</button>
</div>
<div class="alert alert-info" *ngIf="cli?.length==0">
 <label>No hay Registro en la Base de datos! </label>
</div>
<table class="table table-bordered table-striped" *ngIf="cli?.length>0"> 
  <thead>
<tr>
  <th>Id</th>
  <th>Nombre</th>
  <th>Apellido</th>
  <th>Emai</th>
  <th>Fecha</th>
  <th>
    Editar
  </th>
  <th>
    Eliminar
  </th>
</tr>
</thead>
<tbody>
  <tr *ngFor="let cliente of cli">
    <!-- [routerLink]="['/clientes/ver', cliente.id]" -->
    <td> <button type="button" (click)="abrirModal(cliente)"  class="btn btn-success"> {{cliente.id}} </button>  {{cliente.id}} </td>
    <td> {{cliente.nombre}} </td>
    <td> {{cliente.apellido}} </td>
    <td> {{cliente.email}} </td>
    <td> {{cliente.create_at}} </td>
    <td>
      <button type="button" name="Editar" class="btn btn-primary">Editar</button>
      <!--  [routerLink]="['/clientes/form', cliente.id]" -->

    </td>
    <td>
      <button type="button" name="Eliminar" (click)="delete(cliente)" class="btn btn-danger">Eliminar</button>
    </td>
  </tr>
</tbody>
</table>
<paginador-nav *ngIf="paginador" [paginador]="paginador" > </paginador-nav>

  </div>
</div>